﻿@{
    ViewBag.Title = "Material Trends";
}

<div ng-app="app"
     ng-controller="MaterialCostTrendController">
    <h3 class="inline-block">Material Cost Trends</h3>
    <div>
        <img src="@Url.Content("~/images/wait20trans.gif")" alt="Loading..." ng-show="loading" class="medium-spinner" />
    </div>
    <table class="table table-striped table-bordered table-condensed" ng-hide="loading">
        <tbody>
            <tr>
                <th class="display-text">Material</th>
                <th class="display-numeric">Variance</th>
            </tr>
            <tr ng-repeat="result in model">
                <td>{{result.materialName}}</td>
                <td class="display-numeric">{{result.variance | number:2}}</td>
            </tr>
        </tbody>
    </table>
</div>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Reporting/MaterialCostTrendController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/Reporting/materialCostTrendService.js")" type="text/javascript"></script>
}
