﻿@using System.Threading.Tasks
@using Newtonsoft.Json
@model Dbsoft.Epm.Web.Controllers.Reporting.ItemSales.ItemSalesModel
@{
    ViewBag.Title = "Subscriber Sales";
}

<div ng-app="app"
     ng-controller="SubscriberSalesController"
     ng-cloak>
    <h3>Subscriber Sales</h3>
    <div class="form-group">
        <span>From</span><input ui-date ng-model="fromDate" name="FromDate" ng-change="refresh()" class="date-picker date" />
        <span>To</span><input ui-date ng-model="toDate" name="ToDate" ng-change="refresh()" class="date-picker date" />
    </div>
    <div>
        <img src="@Url.Content("~/images/wait20trans.gif")" alt="Loading..." ng-show="loading" class="medium-spinner" />
    </div>
    <table class="table table-striped table-bordered table-condensed table-clickable" ng-hide="loading">
        <tbody>
            <tr>
                <th class="display-text">Subscriber</th>
                <th class="display-numeric">Gross</th>
                <th class="display-numeric">Profit</th>
                <th class="display-numeric">%</th>
            </tr>
            <tr ng-repeat="result in model">
                <td>
                    {{result.eveOnlineCharacter}}
                </td>
                <td class="display-numeric">{{result.grossAmount | number:0}}</td>
                <td class="display-numeric">{{result.gpAmt | number:0}}</td>
                <td class="display-numeric">{{result.gpPct | number:2}}</td>
            </tr>
        </tbody>
    </table>
</div>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Reporting/SubscriberSalesController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/Reporting/itemSalesService.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var model =
            @Html.Raw(
            JsonConvert.SerializeObject(Model,
                Formatting.Indented,
                new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
    </script>

}