﻿@using Newtonsoft.Json
@model Dbsoft.Epm.Web.Controllers.Reporting.TransactionAuditModel

@{
    ViewBag.Title = "Transaction Audit";
}

<div ng-app="app"
     ng-controller="transactionAuditController"
     ng-cloak
     id="transactionAudit">
    <h3 class="header">Transaction Audit</h3>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            <tr>
                <th class="display-text">User</th>
                <th class="display-text">Item</th>
                <th class="display-numeric">Amount</th>
            </tr>
            <tr ng-repeat="result in model.Detail">
                <td>{{result.UserName}}</td>
                <td>{{result.ItemName}}</td>
                <td class="display-numeric">{{result.GrossAmount | number:0}}</td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript">
    var transactionAuditModel =
        @Html.Raw(
        JsonConvert.SerializeObject(Model,
                                    Formatting.Indented,
                                                                  new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
</script>


