﻿@using System.Threading.Tasks
@using Dbsoft.Epm.Web.Controllers.Maintenance
@using Newtonsoft.Json
@model ConfigurationModel

@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.ConfigurationValid)
{
    <h4>Configuration must be completed</h4>
}

<form name="configuration"
      ng-app="app"
      ng-controller="configurationController"
      ng-cloak
      id="configuration"
      submit="submit()"
      autocomplete="off"
      novalidate
      data-station-list-url="@Url.Action("StationList")"
      data-station-lookup-url="@Url.Action("StationLookup")"
      data-solar-system-list-url="@Url.Action("SolarSystemList")"
      data-solar-system-lookup-url="@Url.Action("SolarSystemLookup")"
      data-save-configuration-url="@Url.Action("Configuration")">
    <fieldset>
        <legend>Configuration</legend>
        <validated-input display="Minimum Markup%" name="minimumMarkup" type="number" ng-model="model.MinimumMarkup" required
                         pt-popover="The most important setting! Item trend values are added to this to determine your per-item minimum markup. 5% minimum strongly recommended. Increase this value when cash + profit < sales on the dashboard, and decrease it when cash + profit > sales."
                         popover-trigger="mouseenter"></validated-input>
        <validated-input display="Undercut%" name="undercutPercent" type="number" ng-model="model.UndercutPercent" required
                         pt-popover="The percent of current profit to undercut current market price." popover-trigger="mouseenter"></validated-input>
        <validated-input display="Overcut%" name="overcutPercent" type="number" ng-model="model.OvercutPercent" required></validated-input>
        <validated-input display="Purchase Broker Fee%" name="purchaseBrokerFee" type="number" ng-model="model.PurchaseBrokerFee"
                         required pt-popover="Open up an advanced buy order to find this value" popover-trigger="mouseenter"></validated-input>
        <validated-input display="Sell Broker Fee%" name="sellBrokerFee" type="number" ng-model="model.SellBrokerFee" required
                         pt-popover="Open up an advanced sell order to find this value" popover-trigger="mouseenter"></validated-input>
        <validated-input display="Sales Tax%" name="salesTax" type="number" ng-model="model.SalesTax" required
                         pt-popover="Open up an advanced sell order to find this value" popover-trigger="mouseenter"></validated-input>
        <span>Enable POS Support</span>
        <input name="posEnabled" type="checkbox" ng-model="model.PosEnabled" />
        <input name="posLocationID" type="hidden" value="{{model.PosLocationID}}" />
        <validated-input display="POS Location" class="validated input-wide" name="market" ng-show="model.PosEnabled" ng-model="model.posLocationName" required
                         typeahead="system for system in getSolarSystems($viewValue)" typeahead-loading="true"
                         typeahead-on-select="selectPosLocation($item)" typeahead-wait-ms="500"></validated-input>
        <input name="marketSellID" type="hidden" value="{{model.MarketSellID}}" />
        <validated-input display="Sell Order Location" class="validated input-wide" name="market" ng-model="model.sellStationName" required
                         typeahead="station for station in getStations($viewValue)" typeahead-loading="true"
                         typeahead-on-select="selectSellMarket($item)" typeahead-wait-ms="500"></validated-input>
        <input name="marketBuyID" type="hidden" value="{{model.MarketBuyID}}" />
        <validated-input display="Buy Order Location" class="validated input-wide" name="market" ng-model="model.buyStationName" required
                         typeahead="station for station in getStations($viewValue)" typeahead-loading="true"
                         typeahead-on-select="selectBuyMarket($item)" typeahead-wait-ms="500"></validated-input>
        <input name="factoryID" type="hidden" value="{{model.FactoryID}}" />
        <validated-input display="Factory Location" class="validated input-wide" name="market" ng-model="model.factoryStationName" required
                         typeahead="station for station in getStations($viewValue)" typeahead-loading="true"
                         typeahead-on-select="selectFactory($item)" typeahead-wait-ms="500"
                         pt-popover="When materials at the configured factory are insufficient, hub pricing automatically kicks in"
                         popover-trigger="mouseenter"></validated-input>
        <validated-input display="Inbound Contract Threshold" name="inboundContractThreshold" type="number" ng-model="model.InboundContractThreshold"
                         required pt-popover="The lowest asset value to appear in Inbound Contracts" popover-trigger="mouseenter"></validated-input>
        <validated-input display="Buy Order Range" name="buyOrderRange" type="number" ng-model="model.BuyOrderRange" required
                         pt-popover="Should be at least the range between buy order location and hub. Range order pricing is used when stocks are over 50% of desired levels."
                         popover-trigger="mouseenter"></validated-input>
        <validated-input display="Freight Pickup Cost" name="freightPickupCost" type="number" ng-model="model.FreightPickupCost"></validated-input>
        <validated-input display="Freight Jump Cost" name="freightJumpCost" type="number" ng-model="model.FreightJumpCost"></validated-input>
        <validated-input display="Freight Max Volume" name="freightMaxVolume" type="number" ng-model="model.FreightMaxVolume"></validated-input>
        <validated-input display="Freight Max Collateral" name="freightMaxCollateral" type="number" ng-model="model.FreightMaxCollateral"></validated-input>
        <p>
            <input ng-show="!model.isSaving" type="button" value="Save" ng-click="saveConfiguration()" />
            <img src="@Url.Content("~/images/wait20trans.gif")" alt="Saving..." ng-show="model.isSaving" />
            <span ng-show="!model.isSaving">{{model.saveResult}}</span>
        </p>
    </fieldset>
</form>





<script type="text/javascript">
    var configurationModel =
        @Html.Raw(
            JsonConvert.SerializeObject(Model,
                                        Formatting.Indented,
                                        new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }))
</script>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Configuration/configurationController.js")" type="text/javascript"></script>
}