﻿@using System.Web.Optimization
@using DBSoft.EPM.DAL.Services

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/app")
    @Styles.Render("~/bundles/css")

    <script>
        window.baseUri = '@Url.Content("~")';
        window.token = '@ViewBag.Token';
    </script>


    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

    @RenderSection("ScriptBlock", false)
</head>
    <body class="body">
        @if (!ViewBag.HideMenu)
        {
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#epm-navbar" type="button" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="epm-navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Production<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("RefreshAPI", "Production")">Refresh API</a></li>
                                <li><a href="@Url.Action("ProductionMaterial", "Production")">Material</a></li>
                                <li><a href="@Url.Action("ItemBuild", "Production")">Build Items</a></li>
                                <li><a href="@Url.Action("InboundContract", "Production")">Inbound Contracts</a></li>
                                <li><a href="@Url.Action("OutboundContract", "Production")">Outbound Contracts</a></li>
                                <li><a href="@Url.Action("MarketRestock", "Production")">Post Sell Orders</a></li>
                                <li><a href="@Url.Action("MarketReprice", "Production")">Update Sell Orders</a></li>
                                <li><a href="@Url.Action("PurchaseRelist", "Production")">Post Buy Orders</a></li>
                                <li><a href="@Url.Action("PurchaseReprice", "Production")">Update Buy Orders</a></li>
                                <li><a href="@Url.Action("ItemMaintenance", "Production")">Item Maintenance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Reporting<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ItemSales", "Reporting")">Item Sales</a></li>
                                <li><a href="@Url.Action("DailySales", "Reporting")">Daily Sales</a></li>
                                <li><a href="@Url.Action("MonthlySales", "Reporting")">Monthly Sales</a></li>
                                <li><a href="@Url.Action("ItemCostTrend", "Reporting")">Item Trends</a></li>
                                <li><a href="@Url.Action("MaterialCostTrend", "Reporting")">Material Trends</a></li>
                                <li><a href="@Url.Action("MarketResearch", "Reporting")">Market Research</a></li>
                                @if (ViewBag.IsAdmin)
                                {
                                    <li><a href="@Url.Action("TransactionAudit", "Reporting")">Transaction Audit</a></li>
                                    <li><a href="@Url.Action("SubscriberSales", "Reporting")">Subscriber Sales</a></li>
                                }
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Maintenance<b class="caret"></b> </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Configuration", "Maintenance")">Configuration</a></li>
                                <li><a href="@Url.Action("Accounts", "Maintenance")">Accounts</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        }

        <div class="container main">
            @RenderBody()
        </div>
    </body>
</html>
