﻿@using System.Threading.Tasks
@using Dbsoft.Epm.Web.Infrastructure
@using Microsoft.AspNet.Identity
@model Dbsoft.Epm.Web.Controllers.Account.AccountLoginModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Login";
}
@{
    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
    if (loginProviders.Count == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        <h2>Login</h2>
        <h5>
            <span>Click on this link to authenticate with EVE Online and select your character.</span>
        </h5>
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <div>
                <p>
                    @foreach (var provider in loginProviders)
                    {
                        <button type="submit" class="eve-login" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.Caption account"></button>
                    }
                </p>
            </div>
        </form>
    }
}


